.app {
  box-sizing: border-box;
}

.accordion {
  display       : flex;
  flex-direction: column;
}

.accordion__title {
  background-color   : #eee;
  color              : #444;
  cursor             : pointer;
  padding            : 18px;
  display            : flex;
  align-items        : center;
  border             : none;
  outline            : none;
  /* transition      : background-color 0.6s ease; */
}

.accordion__title:hover {
  background-color: #ccc;
}

.accordion__title p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size  : 14px;
}

.accordion__content {
  background-color      : #fff;
  overflow              : hidden;
  /* max-height         : 0; */
  /* transition         : max-height 0.6s ease; */
}

.accordion__content div {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size  : 14px;
  padding    : 18px;
}